!= title_with_markup()

:markdown
  There should be some information about flying a kite here.

include _rhode_island_map

:markdown
  For help and documentation, check out [http://roots.cx](http://roots.cx)

:coffeescript
  console.log 'you can even use coffeescript in your views, aw yeah'
